<h2>Eventos</h2>
<hr>
<form action="
" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Imagem</th>
          <th>Tema</th>
          <th>Local</th>
          <th>Data</th>
          <th>Qtd Pessoas</th>
          <th>Lote</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
