<nav class="navbar navbar-expand-lg bg-white shadow-sm" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">
      <i class="fa fa-users mb-2"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [collapse]="isCollapsed"
      [isAnimated]="false"
    >
      <ul class="navbar-nav mr-auto" *ngIf="ShowNav(accountService.currentUser$ | async)">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="eventos/lista">Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contatos">Contatos</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="ShowNav(accountService.currentUser$ | async)">
        <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
          <a
            dropdownToggle
            class="nav-link dropdown-toggle"
            style="cursor: pointer;"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{user.userName | titlecase}}
          </a>
          <div
            *dropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" routerLink="user/perfil"> Perfil </a>
            <div role="separator" class="divider"></div>
            <a (click)="logout()" class="dropdown-item" style="cursor: pointer;"> Sair </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
